@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
	<title> feedback</title>
</head>
<body>
	<table class="table table-hovered table-stripped">
		<tbody>
			<tr>
				<th>S. No.</th>
				<th>Subject Code</th>
				<th>Subject Title</th>
				<th>Status/Action</th>
			</tr>
			<tr>
				<td>1</td>
				<td>MCA-101</td>
				<td>Discrete Structures</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA-101", subject = "Discrete_Structures" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>MCA-103</td>
				<td>Computer Networks</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA103", subject = "Computer_Networks" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>MCA-105</td>
				<td>Operating Systems with Linux</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA105", subject = "Operating_Systems_with_Linux" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>4</td>
				<td>MCA-107</td>
				<td>Database Management Systems</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA107", subject = "Database_Management_Systems" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>5</td>
				<td>MCA-109</td>
				<td>Object Oriented Programming and JAVA</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA109", subject = "Object_Oriented_Programming_and_Java" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>6</td>
				<td>MCA-161</td>
				<td>Computer Networks Lab.</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA161", subject = "Computer_Networks_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>7</td>
				<td>MCA-163</td>
				<td>Operating Systems with Linux Lab.</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA163", subject = "Operating_System_with_Linux_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>8</td>
				<td>MCA-165</td>
				<td>Database Management Systems Lab.</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA165", subject = "Database_Management_Systems_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>9</td>
				<td>MCA-167</td>
				<td>
					Object Oriented Programming and JAVA
					Lab.
				</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA167", subject = "Object_Oriented_Programming_and_Java_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>10</td>
				<td>MCA-169</td>
				<td>Minor Project I</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA169", subject = "Minor_Project_I" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>11</td>
				<td>MCA-170</td>
				<td>Minor Project II</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA170", subject = "Minor_Project_II" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>12</td>
				<td>MCA-201</td>
				<td>Design and Analysis of Algorithms</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA201", subject = "Design_and_Analysis_of_Algorithms" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>13</td>
				<td>MCA-203</td>
				<td>
					Artificial      Intelligence      and      Machine
					Learning
				</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA203", subject = "Aritificial_Intelligence_and_Machine_Learning" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>14</td>
				<td>MCA-205</td>
				<td>Statistics and Data Analytics</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA205", subject = "Statistics_and_Data_Analytics" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>15</td>
				<td>MCA-223</td>
				<td>Cloud Computing</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA223", subject = "Cloud_Computing" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>16</td>
				<td>MCA-225</td>
				<td>e-Business Systems</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA225", subject = "E_Business_System" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>17</td>
				<td>MCA-233</td>
				<td>Multimedia Technologies</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA233", subject = "Multimedia_Technologies" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>18</td>
				<td>MCA-253</td>
				<td>Cyber Security and Cyber Laws</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA253", subject = "Cyber_Security_and_Cyber_Laws" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>19</td>
				<td>MCA-261</td>
				<td>Design and Analysis of Algorithms Lab.</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA261", subject = "Design_and_Analysis_Of_Algorithms_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>20</td>
				<td>MCA-263</td>
				<td>
					Artificial      Intelligence      and      Machine
					Learning Lab.
				</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA263", subject = "Artificial_Intelligence_and_Machine_Learning_Lab"})" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>21</td>
				<td>StatsMCA-265</td>
				<td>Lab Statistics and Data Analytics</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "StatsMCA265", subject = "Lab_Statistics_and_Data_Analytics" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>

				</td>
			</tr>
			<tr>
				<td>22</td>
				<td>MTMCA-267</td>
				<td>Lab Multimedia Technologies</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MTMCA267", subject = "Lab_Multimedia_Technologies" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>

				</td>
			</tr>
			<tr>
				<td>23</td>
				<td>MCA-269</td>
				<td>Minor Project III</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA269", subject = "Minor_Project_III" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>24</td>
				<td>CCMCA-265</td>
				<td>Lab Cloud Computing</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "CCMCA265", subject = "Lab_Cloud_Computing" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>25</td>
				<td>EBMCA-265</td>
				<td>Lab e-Business Systems</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "EBMCA265", subject = "Lab_E_Bussiness Systems" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>26</td>
				<td>MCA-202</td>
				<td>Dissertation (Major Project)</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA202", subject = "Dissertation_Major_Project" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>27</td>
				<td>MCA-102</td>
				<td>Data and File Structures</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA102", subject = "Data_and_File_Structures"  })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>28</td>
				<td>MCA-104</td>
				<td>Object Oriented Software Engineering</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA104", subject = "Object_Oriented_Software_Engineering" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>29</td>
				<td>MCA-106</td>
				<td>Python Programming</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA106", subject = "Python_Programming" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>30</td>
				<td>MCA-114</td>
				<td>Full Stack Development</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA114", subject = "Full_Stack_Development" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>31</td>
				<td>MCA-120</td>
				<td>Software Testing</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA120", subject="Software_Testing" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>32</td>
				<td>MCA-128</td>
				<td>Digital Marketing</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA128", subject = "Digital_Marketing" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>33</td>
				<td>MCA-162</td>
				<td>Data and File Structures Lab</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA162", subject = "Data_and_File_Structures_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>34</td>
				<td>MCA-164</td>
				<td>Object Oriented Software Engineering Lab</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA164", subject = "Object_Oriented_Software_Engineering_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>35</td>
				<td>MCA-166</td>
				<td>Python Programming Lab</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "MCA166", subject = "Python_Programming_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>36</td>
				<td>FSDMCA-168</td>
				<td>Full Stack Development Lab</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "FSDMCA168", subject = "Full_Stack_Development_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>37</td>
				<td>STMCA-168</td>
				<td>Software Testing Lab</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "STMCA168", subject = "Software_Testing_Lab" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
			<tr>
				<td>38</td>
				<td>PO</td>
				<td>Program Outcome</td>
				<td>
					<a href="@Url.Action("Add", "Feedback", new { subjectId = "PO" })" id="btn_fce86" class="btn btn-sm btn-success">Fill Feedback</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
